<head>
    <title>GEM LABO PHYSIQUE</title>    
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" type="image/x-icon" href="./styles/ico/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./styles/css/common.css" as="common">
    <link rel="stylesheet" type="text/css" href="./styles/scss/statsTable.css" as="statsTable">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.io/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
    <script src='https://unpkg.io/@vertx/eventbus-bridge-client.js@1.0.0-1/vertx-eventbus.js'></script>
</head>
<body>
    <div id="page-wrapper">
        <div class="horizontal gray">
            <div class="dropdown">
                <button class="dropbtn">{{user.firstname}} {{user.lastname}}</button>
                <div class="dropdown-content">
                    <a href="/logout">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>

    <div id="header">
        <h1>Bienvenue {{user.firstname}} !</h1>
    </div>

    <div>
        <ul class="secondary-nav horizontal gray">
            <li><a id="default" class="nav-link" onclick="showTab(event, 'available')">Matériels disponibles</a></li>
            <li><a class="nav-link" onclick="showTab(event, 'unavailable')">Matériels empruntés</a></li>
            <li><a class="nav-link" onclick="showTab(event, 'toValidate')">Matériel en attente de validation</a></li>
            <li><a class="nav-link" onclick="showTab(event, 'statistics')">Statistiques</a></li>
        </ul>
    </div>

    <div id="available" class="table">
        <div id="errormsg">
            <div class="message message-warning alert alert-warning" hidden>
                <span id="alert_msg"></span>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>{{header.column1}}</th>
                    <th>{{header.column2}}</th>
                    <th>{{header.column3}}</th>
                    <th>{{header.column4}}</th>
                    <th>{{header.column5}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each tools}}
                    {{#if this.isAvailable}}
                        <tr id="{{this.id}}">
                            <td>{{this.id}}</td>
                            <td>
                                <div contenteditable="true" id="brand">
                                    {{this.brand}}
                                </div>
                            </td>
                            <td>
                                <div contenteditable="true" id="model">
                                    {{this.model}}
                                </div>
                            </td>
                            <td>
                                <div contenteditable="true" id="descro">
                                    {{this.descro}}
                                </div>
                            </td>
                            <td>
                                <div contenteditable="true" id="idisep">
                                    {{this.idisep}}
                                </div>
                            </td>
                            <td id="delTool"><a href="/private/admin/del/{{this.id}}">Supprimer</a></td>
                        </tr>          
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>

    <div id="unavailable" class="table">
        <table>
            <thead>
                <tr>
                    <th>{{header.column1}}</th>
                    <th>{{header.column2}}</th>
                    <th>{{header.column3}}</th>
                    <th>{{header.column4}}</th>
                    <th>{{header.column5}}</th>
                    <th>{{header.column7}}</th>
                    <th>{{header.column8}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each tools}}
                    {{#if this.isAvailable}}

                    {{else}}
                        {{#if this.toValidate}}

                        {{else}}
                            <tr>
                                <td>{{this.id}}</td>
                                <td>{{this.brand}}</td>
                                <td>{{this.model}}</td>
                                <td>{{this.descro}}</td>
                                <td>{{this.idisep}}</td>
                                <td>{{this.userid}}</td>
                                <td id="returnDate" data-value="{{this.returnDate}}">{{this.returnDate}}</td>
                            </tr>
                        {{/if}}
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>

    <div id="toValidate" class="table">
        <table>
            <thead>
                <tr>
                    <th>{{header.column1}}</th>
                    <th>{{header.column2}}</th>
                    <th>{{header.column3}}</th>
                    <th>{{header.column4}}</th>
                    <th>{{header.column5}}</th>
                    <th>{{header.column7}}</th>
                    <th>{{header.column8}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each tools}}
                    {{#if this.toValidate}}
                        <tr>
                            <td>{{this.id}}</td>
                            <td>{{this.brand}}</td>
                            <td>{{this.model}}</td>
                            <td>{{this.descro}}</td>
                            <td>{{this.idisep}}</td>
                            <td>{{this.userid}}</td>
                            <td id="returnDate" data-value="{{this.returnDate}}">{{this.returnDate}}</td>
                            <td><a href="/private/admin/validate/{{this.id}}">Valider le retour</a></td>
                        </tr>
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>

    <div id="statistics" class="table">
        <dl>
            <dt>Fréquence d'emprunt par matériel</dt>
            {{#each tools}}
                <dd class="percentage percentage-{{this.percentages}}"><span class="text">{{this.idisep}}</span></dd>
            {{/each}}
        </dl>

        <dl>
            <dt>Durée d'emprunt moyen par matériel</dt>
            {{#each tools}}
                <dd class="percentage percentage-{{this.percentages}}"><span class="text">{{this.idisep}}</span></dd>
            {{/each}}
        </dl>
    </div>
    <script type="module" src="./scripts/common/selectDefaultTable.js"></script>
    <script type="module" src="./scripts/common/dateExpired.js"></script>
    <script type="module" src="./scripts/common/focusOnDiv.js"></script>
    <script type="module" src="./scripts/common/showTab.js"></script>
    <script type="module" src="./scripts/admin/editTable.js"></script>
</body>