<head>
    <title>GEM LABO PHYSIQUE</title>    
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="./styles/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./styles/main.css" as="main">
    <style>
        .fa {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
        }

        .btn {
            white-space: normal;
        }

        .btn:not(:disabled):not(.disabled) {
            cursor: pointer;
        }

        .btn {
            display: inline-block;
            font-weight: 400;
            color: #212529;
            text-align: center;
            vertical-align: middle;
            background-color: transparent;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .form-control {
            display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    </style>
</head>
<body>
    <div id="page-wrapper">
        <div class="horizontal gray">
            <div class="dropdown">
                <button class="dropbtn">{{user}}</button>
                <div class="dropdown-content">
                    <a href="/logout">Déconnexion</a>
                </div>
            </div>
        </div>
    </div>

    <div id="header">
        <h1>Bienvenue {{user}} !</h1>
    </div>

    <div>
        <ul class="secondary-nav horizontal gray">
            <li><a id="default" class="nav-link" onclick="showTab(event, 'available')">Matériels disponibles</a></li>
            <li><a class="nav-link" onclick="showTab(event, 'unavailable')">Matériels déjà empruntés</a></li>
        </ul>
    </div>

    <div id="available" class="table">
        <table>
            <thead>
                <tr>
                    <th>{{column1}}</th>
                    <th>{{column2}}</th>
                    <th>{{column3}}</th>
                    <th>{{column4}}</th>
                    <th>{{column5}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each table}}
                    {{#if this.isAvailable}}
                        <tr>
                            <td>{{this.uid}}</td>
                            <td>{{this.brand}}</td>
                            <td>{{this.model}}</td>
                            <td>{{this.desc}}</td>
                            <td>{{this.idISEP}}</td>
                            <td><a href="/private/tools/{{this.uid}}">Emprunter</a></td>
                        </tr>          
                    {{/if}}
                {{/each}}
                <form action="/private/add" method="post">
                    <tr>
                        <td></td>
                        <td>
                            <select name="brand" id="brand" class="form-control" required>
                                <option value="Steinberg">Steinberg</option>
                                <option value="Stamos Soldering">Stamos Soldering</option>
                            </select>
                        </td>
                        <td>
                            <input id="model" name="model" type="text" class="form-control" placeholder="S-LS-28" required/>
                        </td>
                        <td>
                            <input id="desc" name="desc" type="text" class="form-control" placeholder="Centrifugeuse" required/>
                        </td>
                        <td>
                            <input id="idISEP" name="idISEP" type="text" class="form-control" placeholder="CentriA1" required/>
                        </td>
                        <td>
                            <button type="submit" class="btn" id="btn">
                                <span class="fa"></span>
                                <span trspan="addtool-span">Ajouter le matériel</span>
                            </button>
                        </td>
                    </tr>
                </form>
            </tbody>
        </table>
    </div>

    <div id="unavailable" class="table">
        <table>
            <thead>
                <tr>
                    <th>{{column1}}</th>
                    <th>{{column2}}</th>
                    <th>{{column3}}</th>
                    <th>{{column4}}</th>
                    <th>{{column5}}</th>
                    <th>{{column8}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each table}}
                    {{#if this.isAvailable}}

                    {{else}}
                        {{#if this.toValidate}}

                        {{else}}
                            <tr>
                                <td>{{this.uid}}</td>
                                <td>{{this.brand}}</td>
                                <td>{{this.model}}</td>
                                <td>{{this.desc}}</td>
                                <td>{{this.idISEP}}</td>
                                <td id="returnDate" data-value="{{this.returnDate}}">{{this.returnDate}}</td>
                                <td><a href="/private/unborrow/{{this.uid}}">Rendre le matériel</a></td>
                            </tr>
                        {{/if}}
                    {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div>
    <script>
        window.addEventListener('load', function(e){
            document.getElementById("default").click();
        });
    </script>
    <script type="module" src="./scripts/dateExpired.js"></script>
    <script type="module" src="./scripts/showTab.js"></script>
</body>